<template name="footer">
  <div class="footer">
        <div class="user-menu">
            <span class="user-menu_profile-pic"></span>
            <span class="user-menu_username">{{usernameFromCurrentUser}}</span>
            <img class="connection_icon" src="data:image/png;base64,iVBORw0KGgoAAAAN...">
            <span class="connection_status">online</span>
        </div>
        <form class="input-box">
            <input type="text" name="message" class="input-box_text">
        </form>
    </div>
</template>
